.TextBoxContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.InputTitle {
    margin: 0;
}

input {
    height: 35px;
    width: 175px;
    border: 2px solid lightgray;
}